# Objets et dépendances de compilation
*.o
*.d
objs/

# Binaire
webserv

# Éditeur
.vscode/

# Dossier personnel
perso/

# Docker local
.env
.docker/
docker-compose.override.yml
docker/
docker-compose.yml
.dockerignore

# Agents Copilot personnels
.github/agents/

#logs
*.log